*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Helvetica, Arial, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(234, 234, 234, 1);
}

.titulo{
    display: inline-block;
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: fit-content;

    color: rgba(109, 109, 109, 1);
}

.seleccionTablas{
    width: 730px;
    height: 280px;
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tabla{
    margin: 0.5rem;

    width: 10rem;
    height: 10rem;

    display:inline-block;

    border: 0;
}

.botones{
    width: 915px;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;

    background-color: rgba(217, 217, 217, 1);
    color: rgba(109, 109, 109, 1);

    border-radius: 20px;
    border: 0;
}

.boton{
    background-color: rgba(234, 234, 234, 1);
    border-radius: 12px;
    border: 6px, solid, rgba(156, 156, 156, 1);
    font-size: 2.5rem;
    color: rgba(109, 109, 109, 1);
}

.boton.pulsado{
    background-color: rgba(156, 156, 156, 1);
}
