*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Helvetica, Arial, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-color: rgba(234, 234, 234, 1);
}

#multiplicacion{
    display: inline-block;
    font-size: 6rem;
    margin-top: 20px;
}

#respuesta::-webkit-inner-spin-button,
#respuesta::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Elimina las flechas */
}

#respuesta{
    all: unset;
    width: 100px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    outline: none;
}

.correcto{
    background-color: rgba(167, 205, 130, 1);
}

.incorrecto{
    background-color: rgb(205, 112, 130, 1);
}

.timer-bar-container {
    width: 60rem;
    height: 4rem;
    background-color: #ddd;
    border-radius: 2rem;
    overflow: hidden;
    margin: 20px auto;
}

/* Estilo de la barra de progreso */
.timer-bar {
    height: 100%;
    background-color: rgba(167, 205, 130, 1); /* Color inicial */
    width: 100%; /* Comienza con 100% de ancho */
    transition: width 1s linear; /* Transición suave */
}

#respuesta{
    width: 40rem;
    height: 20rem;

    text-align: center;

    caret-color: transparent;

    font-size: 10rem;
    color: rgb(61, 61, 61);

    border-radius: 2rem;
    border: none;

    box-shadow: 0px 14px 27px 0px rgba(0, 0, 0, 0.25);

    background-color: rgba(239, 239, 239, 1);
}


